<div class="advisor nested-fields col3q">
  <%= f.input :name, required: true,
                     validate: { presence: true },
                     label: 'Name *',
                     label_html: { class: '' },
                     wrapper_html: { class: '' },
                     input_html: { class: 'field field-text wide' },
                     hint: '(Enter as Last/Surname, First/Given Middle)',
                     hint_html: { class: '' } %>
  <aside><%= link_to_remove_association "Remove this supervisor", f %></aside>
</div>
