<div class="nested-fields col3q">
  <%= f.input :name, label: 'Name *',
                     label_html: { class: 'col1q' },
                     wrapper_html: { class: 'layout-band layout-1q3q' },
                     input_html: { class: 'field field-text col3q' },
                     hint: '(Enter as Last/Surname, First/Given name Middle name)',
                     hint_html: { class: 'col3q' } %>
  <br>&nbsp;
</div>
