<fieldset class="proquest">
  <legend>Consent to send thesis to ProQuest</legend>
  <%= f.input :proquest_allowed, as: :radio_buttons,
                                 collection: [['Yes', true], ['No', false]],
                                 required: true,
                                 validate_presence: true,
                                 label: "We are conducting a pilot program to provide additional open access to MIT theses through <a href='http://libguides.mit.edu/dissertations'>ProQuest Dissertation & Theses Global</a> (PQDT). The aim is to make theses more visible and discoverable.<br><br>There is no cost to you and your thesis will not be sent to ProQuest until it is published by MIT. See <a href='https://about.proquest.com/en/dissertations/proquest-dissertations-frequently-asked-questions/proquest-dissertations-authors-frequently-asked-questions/'>PQDT's Author Dissertations FAQs</a> for more information about participating.<br><br>--<br><br>I would like the full-text of my thesis to be made openly available in ProQuest Dissertation & Theses Global.".html_safe %>
</fieldset>
