<div class="bit no-top-border">
  <h3 class="title">Related info</h3>
  <ul class="list-bulleted">
    <li><a href="https://libguides.mit.edu/c.php?g=176367&p=8229377" target="_blank">MIT Thesis FAQ: June 2021 Degree Candidates</a>
      <ul class="list-bulleted">
        <li><a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30720662" target="_blank">Copyright &amp; Licensing</a></li>
        <li><a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30716012" target="_blank">Thesis specifications</a></li>
      </ul>
    </li>
  </ul>
  <p>Questions? Contact us: <a href="mailto:mit-theses@mit.edu" target="_blank">mit-theses@mit.edu</a></p>
</div>
