<div class="bit no-top-border">
  <h3 class="title">Related info</h3>
  <ul class="list-bulleted">
    <li><a href="https://libguides.mit.edu/c.php?g=176367&p=8229377">MIT Thesis FAQ: June 2021 Degree Candidates</a>
      <ul class="list-bulleted">
        <li><a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30720662">Copyright &amp; Licensing</a></li>
        <li><a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30716012">Thesis specifications</a></li>
      </ul>
    </li>
  </ul>
  <p>Questions? <a href="mailto:mit-theses@mit.edu">Contact us</a></p>
</div>
