<div class="bit">
  <h3 class="title">Have a question?</h3>
  <p>Contact us: <a href="mailto:mit-thesis@mit.edu">mit-thesis@mit.edu</a></p>
</div>
<div class="bit">
  <h3 class="title">Related info</h3>
  <ul>
    <li><a href="https://libraries.mit.edu/distinctive-collections/thesis-specs/">Thesis specs</a></li>
    <li><a href="https://libraries.mit.edu/distinctive-collections/thesis-specs/#copyright">Copyright info</a></li>
    <li>Licensing info</li>
  </ul>
</div>
