<div class="well">
  <h4>Welcome, <%= current_user.given_name %></h4>
  <p>This tool allows you to review and submit your thesis information. This
  information will help us to more quickly catalog and make available your
  thesis in DSpace.</p>
  <p><strong>A few reminders:</strong></p>
  <ul>
    <li>The title page of your thesis must match the information you provide
      us today - please review it as needed.</li>
    <li>Submit your thesis files with the <a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30716057" target="_blank">required
      filename format</a>, along with the <a href="https://libraries.mit.edu/wp-content/uploads/2019/08/umi-proquest-form.pdf" target="_blank">Proquest
      form</a> (PhDs only) <strong>directly to your departments</strong>.</li>
    <li>If needed, you can update certain fields until graduation day.</li>
  </ul>
  <p>Please contact us with any questions: <a href="mailto:mit-theses@mit.edu?Subject=Thesis%20submission%20help" target="_blank">mit-theses@mit.edu</a></p>
</div>
