<div class="well">
  <h4>Welcome <%= current_user.given_name %>.</h4>
  <p>This tool will allow you to update your thesis information. This
  information will help us to more quickly catalog and make available your
  thesis in DSpace.</p>
  <p><strong>A few reminders:</strong></p>
  <ul>
    <li>Most of the needed information is on the title page of your thesis -
    it could be helpful to have it nearby when completing this form.</li>
    <li>You have until the end of the semester to update this
    information.</li>
    <li>Make sure you save your thesis files with the required filename
      format - see <a href="https://libguides.mit.edu/c.php?g=176367&p=8229377">the MIT Thesis FAQ</a>.</li>
  </ul>
  <p>Please <a href="mailto:mit-theses@mit.edu?Subject=Thesis%20submission%20help">contact us</a> with any questions.</p>
</div>
