<h3>Success!</h3>
<h4 style="line-height: 1.2;">A copy of the thesis information you submitted will be emailed to you. If you need to make changes you may do so until graduation day by returning to your <%= link_to("thesis information submission form", thesis_start_path) %>.</h4>
<p>&nbsp;</p>
<h4>A few things to remember:</h4>
<ul>
  <li>The title page of your thesis must match the information you provided us today.</li>
  <li>If you need to make updates before graduation day, you can do so by returning to your <%= link_to("thesis information submission form", thesis_start_path) %>. This link will also be included in the confirmation email.</li>
</ul>
<p>Contact us with any questions: <a href="mailto:mit-theses <mit-theses@mit.edu>" target="_blank">mit-theses@mit.edu</a></p>
<p>&nbsp;</p>
<h4>Congratulations on finishing (or almost finishing) your degree!</h4>
