<h3>Success!</h3>
<h4>A copy of your thesis information will be emailed to you.</h4>
<p>&nbsp;</p>
<h4>A few things to remember:</h4>
<ul>
  <li>If needed, you can make edits to certain fields until the end of the semester.</li>
  <li>Be sure the title page of your thesis matches the information you provided us today.</li>
  <li>If you don’t have an ORCID iD - and didn’t make one - there is still time -  learn more at:</li>
  <li>Something about working with their department to do the ProQuest form</li>
  <li><a href="mailto:mit-theses <mit-theses@mit.edu>">Contact us</a> with any questions</li>
</ul>
<p>&nbsp;</p>
<h4>Congratulations on (almost) finishing your degree!</h4>
