<h3>Success!</h3>
<h4>A copy of your submitted thesis information will be emailed to you.</h4>
<p>&nbsp;</p>
<h4>A few things to remember:</h4>
<ul>
  <li>The title page of your thesis must match the information you provided us today.</li>
  <li>Submit your thesis files with the <a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30716057">required filename format</a> and <a href="https://libraries.mit.edu/wp-content/uploads/2019/08/umi-proquest-form.pdf">Proquest form</a> (PhDs only) directly to your departments.</li>
  <li>If needed, you can update certain fields until graduation day.</li>
</ul>
<p><a href="mailto:mit-theses <mit-theses@mit.edu>">Contact us</a> with any questions.</p>
<p>&nbsp;</p>
<h4>Congratulations on (almost) finishing your degree!</h4>
