<h3>Statistics</h3>

<%= render partial: "thesis/date_filter_form", locals: { get_path: stats_path } %>

<% if @theses.present? %>
  <%= render 'thesis/inner_stats' %>
<% else %>
  <% if Thesis.all.present? %>
    <p>
      There are no theses meeting your criteria.
    </p>
  <% else %>
    <p>
      There are no theses yet.
    </p>
  <% end %>
<% end %>
