<div class="layout-3q1q layout-band">

  <div class="col3q">
    <h3 class="title title-page">Preserve and share your scholarship</h3>
    <p>
      Adding your thesis or dissertation to MIT's DSpace thesis collection is a great way to preserve the record of your scholarship at MIT. Theses in DSpace are visible to anyone in the world, and will be preserved digitally for long term use and access.
    </p>

    <p>
      Adding your thesis only takes a few minutes, and preserves color content, text searchability, and embedded links within your thesis.
    </p>

    <p>
      Information about your thesis will be indexed by search engines like Google after your thesis is loaded into DSpace. All theses in DSpace can be accessed via a persistent URL (also called a handle) which will not change.
    </p>

    <p>
      <strong>Paper copies of your thesis are still required and should be submitted to your academic department as usual.</strong> See <a href="https://libraries.mit.edu/archives/thesis-specs/index.html">Thesis Specifications</a> for more information.
    </p>

    <p>
      <% if user_signed_in? %>
        <%= link_to('Get started', new_thesis_path, class: 'btn button-primary') %>
      <% else %>
        <% if Rails.configuration.fake_auth_enabled %>
          <%= link_to("Sign in to get started", user_developer_omniauth_authorize_path, id: "sign_in", class: 'btn button-primary') %>
        <% else %>
          <%= link_to("Sign in to get started", user_saml_omniauth_authorize_path, id: "sign_in", class: 'btn button-primary') %>
        <% end %>
      <% end %>
    </p>

  </div>

  <aside class="content-sup col1q-r" role="complementary">
    <div class="bit">
      <h3 class="title">Need help?</h3>
        <p>
          Email us at <a href="mailto:etheses-admin@mit.edu?Subject=Thesis%20submission%20help">etheses-admin@mit.edu</a> for further assistance.
        </p>
        <p><a href="https://libraries.mit.edu/archives/thesis-specs/index.html">Review the Thesis Specifications</a></p>
        <p><a href="https://libguides.mit.edu/c.php?g=176367&p=1159611">Tips for a Successful e-submission</a></p>
      </div>
    </aside>

</div>
