<%= content_for(:title, "Thesis Submission | MIT Libraries") %>

<div class="layout-3q1q layout-band">
  <div class="col3q box-content">
    <p><strong>Students -</strong> this tool allows you to review 
    and submit your thesis information. This information will help 
    us to more quickly catalog and make your thesis available in 
    DSpace.</p>
    <p><%= link_to('Submit information', new_thesis_path, class: 'btn button-primary') %></p>
    <br/>

    <p><strong>Department Administrators -</strong> this tool allows 
    you to transfer your department or program’s theses to the MIT 
    Libraries. <em>(Prior authorization required)</em></p>
    <p><%= link_to('Transfer theses', new_transfer_path, class: 'btn button-primary') %></p>
    <br/>

    <p><a href="mailto:mit-theses@mit.edu?Subject=Thesis%20submission%20help">
    Contact us</a> with any questions.</p>
  </div>

  <aside class="content-sup col1q-r" role="complementary">
    <div class="bit">
      <h3 class="title">Need help?</h3>
      <p><a href="mailto:etheses-admin@mit.edu?Subject=Thesis%20submission%20help">
        Contact us</a> with any questions.</p>
    </div>
  </aside>
</div>
