<p>
  Adding your thesis or dissertation to MIT's DSpace thesis collection is a great way to preserve the record of your scholarship at MIT. Theses in DSpace are visible to anyone in the world, and will be preserved digitally for long term use and access.
</p>

<p>
  Adding your thesis only takes a few minutes, and preserves color content, text searchability, and embedded links within your thesis.
</p>

<p>
  Theses that are not submitted to the libraries in PDF format will be scanned and added to DSpace.
</p>

<p>
  Information about your thesis will be indexed by search engines like Google after your thesis is loaded into DSpace. All theses in DSpace can be accessed via a persistent URL (also called a handle) which will not change.
</p>


<h3>Important Submission Notes:</h3>

<ul>
  <li>
    Your thesis must be rendered into a single PDF file for submission.
  </li>
  <li>
    The PDF file that you submit must be an exact duplicate of the paper thesis submitted to your department.
  </li>
  <li>
    The PDF file may not contain encryption or other access limitations.
  </li>
  <li>
    For easier access by other researchers, try to keep the size of your PDF file below 30 mb. Most software programs that generate PDF files have options available to compress the file without adversely affecting quality.
  </li>
  <li>
    You don't have to include signatures on your title page. Signatures on the title page will be masked out to protect the privacy of thesis authors and advisors.
  </li>
  <li>
    If you accidentally upload the wrong file, go through the upload process again and choose the correct file.  We will use the most recent submission.
  </li>
  <li>
    Theses will not be added to DSpace until after degrees have been awarded and the thesis has been fully processed and cataloged by the MIT Libraries, which will be 3-6 months after the degree date.
  </li>
  <li>
    <strong>Paper copies of your thesis are still required and should be submitted to your academic department as usual.</strong> See <a href="https://libraries.mit.edu/archives/thesis-specs/index.html">Thesis Specifications</a> for more information.
  </li>
</ul>

<p>
  Please contact <a href="mailto:etheses-admin@mit.edu?Subject=Thesis%20submission%20help">etheses-admin@mit.edu</a> for further assistance.
</p>




