
/* variables and helpers ported from mitlib style */

// ----------------------------
// #GRID
// ----------------------------

// grid - breakpoints
$bp-screen-sm:                  480px;
$bp-screen-md:                  768px;
$bp-screen-lg:                  1024px;
$bp-screen-xl:                  1280px;


// ----------------------------
// #COLORS
// ----------------------------

// colors - grayscale
$black:                         #111;
$black-t:                       #000; // true black
$white:                         #fafafa;
$white-warm:                    #ede8e2;
$white-t:                       #fff; // true white
$gray:                          #595959; // accessible on #f3f3f3
$gray-d1:                       #333;
$gray-d2:                       #222;
$gray-l1:                       #767676; // accessible on #fff
$gray-l2:                       #ccc;
$gray-l3:                       #dedede;
$gray-l4:                       #f3f3f3;
$gray-warm:                     #c6b6a3;
$transparent:                   rgba(0, 0, 0, 0); // transparent black
$transparent-w:                 rgba(255,255,255,0); // transparent white
$glare:                         rgba($white-t, .3);
$shadow:                        rgba($black-t, .5);
$smoke:                         rgba($gray, .3);
$wisp:                          rgba($gray, .1);

// pentagram colors - named
$magenta:                       #FF00FF;
$red:                           #FF0000;
$orange:                        #FF7700;
$yellow:                        #FFC800;
$green:                         #00C800;
$blue:                          #0000FF;
$blue-bright:                   #00C8FF;

// pentagram colors secondary
$magenta-muted:                 #C702C7;
$red-muted:                     #D50606;
$orange-muted:                  #E46212;
$yellow-muted:                  #FFC422;
$green-muted:                   #008700;
$blue-muted:                    #1A1A83;
$blue-bright-muted:             #04A6CF;


// colors - brand
$brand-primary:                 $black;
$brand-primary-accent:          $blue;
$brand-primary2:                $blue-bright; // accessible on dark 
$brand-secondary:               $magenta-muted;

// colors - utilities
$success:                       $green;
$warning:                       $yellow;
$error:                         $red-muted;
$informational:                 $gray;


// ----------------------------
// #TYPOGRAPHY
// ----------------------------

$base-font: 'Helvetica Neue', Helvetica, Arial, 'Open Sans', sans-serif;
$alt-fonts: 'Georgia', Cambria, 'Times New Roman', Times, serif;

// font-sizes and line-heights
$fs-xxxsmall: .9rem;
$fs-xxsmall: 1rem;
$fs-xsmall: 1.2rem;
$fs-smallish: 1.3rem;
$fs-small: 1.4rem;
$fs-base: 1.6rem;
$fs-large: 2.0rem;
$fs-xlarge: 2.8rem;
$fs-xxlarge: 3.6rem;
$fs-xxxlarge: 4.2rem;
$fs-xxxxlarge: 4.8rem;

$fw-bold: 600;
$fw-normal: 400;
$fw-light: 300;

$lh-xtight: .92;
$lh-tight: 1;
$lh-base: 1.2;
$lh-loose: 1.5;
$lh-xloose: 1.7;


// ----------------------------
// #DEPTH
// ----------------------------

$z-depth-way-back:      -1000;
$z-depth-back:           -100;
$z-depth-lil-back:       -10;
$z-depth-base:           1;
$z-depth-lil-front:      10;
$z-depth-front:          100;
$z-depth-way-front:     1000;


// ----------------------------
// #UTILITIES from mitlib style
// ----------------------------

.list-unbulleted {
  list-style: none;
  padding-left: 0;
  text-indent: 0;
}
