.panel {
  position: relative;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: 4px solid #000;
  .panel-heading {
    font-size: 1.6rem;
    margin: 1.5rem 2rem 0.5rem 2rem;
  }
  .panel-body {
    margin: 0.5rem 2rem 1.5rem 2rem;
  }
}

.new-submitter-button {
  margin-top: 1rem;
}

#hold_dates_files_received {
  background-color: #f2f2f2;
}
