
// .wrap-header and .wrap-footer are using asset pipeline versions of the svg
// here to allow them to be served in production.
.wrap-header {
  background: #111 image-url("vi-shape7-tp.svg") no-repeat 0 65%;
}

.wrap-footer {
  background: #111 image-url("vi-shape7-tp.svg") no-repeat 10% center;
}

.text-info {
  color: $informational;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
.text-danger {
  color: $error;
}

.downloaded, .withdrawn {
  @extend .field-wrap;
}

.withdrawn {
  margin: 0;
}
