label.error {
  display: block;
  margin-bottom: 0;
  font-size: $fs-small;
  color: $error;
}

// general
.text-info {
  color: $informational;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
.text-danger {
  color: $error;
}

.well {
  &.error {
    background-color: rgba($error, 0.1);
    box-shadow: inset 0 0 5px rgba($error, 0.5);
  }
  &.success {
    background-color: rgba($success, 0.1);
    box-shadow: inset 0 0 5px rgba($success, 0.5);
  }
  &.warning {
    background-color: rgba($warning, 0.1);
    box-shadow: inset 0 0 5px rgba($warning, 0.5);
  }
}
// admin processing
.downloaded, .withdrawn {
  @extend .field-wrap;
}

.withdrawn {
  margin: 0;
}

textarea.full-width {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}

.panel {
  &.has-flag {
    padding-top: 1rem;
  }

  &.panel-info .status {
    background-color: $brand-primary;
  }

  &.panel-success .status {
    background-color: $success;
  }

  &.panel-warning .status {
    background-color: $warning;
  }

  &.panel-danger .status {
    background-color: $error;
  }

  .col1q-r {
    text-align: right;
  }

  .status {
    position: absolute;
    top: 0;
    right: 2rem;
    background-color: $blue;
    color: white;
    padding: .3rem 1rem;
  }

  .grad-date {
    margin: .5rem 0 0 0;
    font-size: $fs-base;
  }

  .label {
    font-weight: $fw-bold;
  }

  .view-details {
    margin: 1rem 0;
  }

  .form-notes {
    margin: .3rem 0;
  }
}

// simple form styles
form.simple_form {
  label {
    font-size: 16px;
  }
  .field-wrap {
  }
  .field-row {
    margin-bottom: 2em;
  }
  .checkbox-input {
    height: 20px;
    width: 20px;
  }
  .nested-fields {
    margin-bottom: 1.5rem;

    div.input {
      float: left;
      width: 75%;
    }

    aside {
      float: right;
      margin-left: 3%;
      margin-top: 2rem;
      width: 20%;

      a.remove_fields.only {
        display: none;
      }
    }
  }
  .author.nested-fields {
    margin-bottom: 1.5rem;
  }
  .thesis-files {
    width: 100%;

    label {
      font-weight: normal;
    }

    .thesis_files_attachments_description textarea {
      width: 100%;
    }
  }
}

// transfer processing form
ul.list-files {
  li {
    padding: 0.5rem;

    &:hover,
    &:focus {
      background: #ccc;
    }

    input {
      height: 1em;
      margin-right: 1em;
      width: 1em;
      vertical-align: middle;
    }

    span.assigned {
      margin-left: 37px;
      text-decoration: line-through;
    }
  }
}

table.list-theses {
  width: 100%;
}

// DataTables filter buttons
.filter-row {
  margin: 1.5rem 0;
}

// info
.label.subtitle3 {
  margin-top: 2rem;
  margin-bottom: .2rem;
  font-weight: normal;
}

// sidebar
.bit {
  font-size: 1.6rem;

  &.no-top-border {
    border-top: none;
  }
  .title {
    font-size: 2rem;
  }
  ul.list-bulleted {
    list-style: disc;
    margin-left: 1em;
  }
}

// thesis-start page
ul.thesis-start {
  li {
    margin-bottom: 1em;
  }
}

// reports styles
.hero-text {
  font-size: 200%;
  font-weight: bolder;
}
