
// .wrap-header and .wrap-footer are using asset pipeline versions of the svg
// here to allow them to be served in production.
.wrap-header {
  background: #111 image-url("vi-shape7-tp.svg") no-repeat 0 65%;
}

.wrap-footer {
  background: #111 image-url("vi-shape7-tp.svg") no-repeat 10% center;
}

label.error {
  color: $error;
  display: block;
  float: none;
}

// general
.text-info {
  color: $informational;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
.text-danger {
  color: $error;
}


// admin processing
.downloaded, .withdrawn {
  @extend .field-wrap;
}

.withdrawn {
  margin: 0;
}

textarea.full-width {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}

.panel {
  &.has-flag {
    padding-top: 1rem;
  }

  &.panel-info .status {
    background-color: $brand-primary;
  }

  &.panel-success .status {
    background-color: $success;
  }

  &.panel-warning .status {
    background-color: $warning;
  }

  &.panel-danger .status {
    background-color: $error;
  }

  .col1q-r {
    text-align: right;
  }

  .status {
    position: absolute;
    top: 0;
    right: 2rem;
    background-color: $blue;
    color: white;
    padding: .3rem 1rem;
  }

  .grad-date {
    margin: .5rem 0 0 0;
    font-size: $fs-base;
  }

  .label {
    font-weight: $fw-bold;
  }

  .view-details {
    margin: 1rem 0;
  }

  .form-notes {
    margin: .3rem 0;
  }
}


// info
.label.subtitle3 {
  margin-top: 2rem;
  margin-bottom: .2rem;
  font-weight: normal;
}

table {
  border-collapse: collapse;

  th, td {
    padding: 1rem;
  }

  th {
    background-color: $gray-l2;
  }

  tr:nth-child(even) {
    background: $gray-l4;
  }
}
