<div class="well">
  <p>
    <strong>Welcome <%= current_user.given_name %>.</strong> This tool 
    will allow you to transfer your department or program’s theses to the 
    MIT Libraries.
  </p>

  <h4 class="hd-5">Please review before you begin:</strong></h4>
  <ul>
    <li>Theses can be transferred throughout the semester (one thesis 
    per author) and must be submitted by 30 days after graduation.</li>
    <li>Confirm each thesis PDF meets the required thesis specifications 
    prior to submitting them to the Libraries. <strong>Pay specific 
    attention to the information on the title page.</strong></li>
    <li>Upload individual thesis files (can be done as a bulk upload). 
    We can no longer accept zip files.</li>
    <li>All theses must be transferred as PDF files using the following 
    file naming convention - [last/surname-kerberos-degree-dept-year-file.pdf]. 
    For example:
      <ul>
        <li>Thesis PDF: macdonald-mssimon-mcp-dusp-2019-thesis.pdf</li>
        <li>Proquest Form: macdonald-mssimon-mcp-dusp-2019-proquest.pdf</li>
        <li>Signature Page: macdonald-mssimon-mcp-dusp-2019-sig.pdf</li>
      </ul>
    </li>
  </ul>

  <p>Please <a href="mailto:mit-theses@mit.edu?Subject=Thesis%20submission%20help">
  contact us</a> with any questions.</p>
</div>
