<div class="well">
  <h4 class="hd-5 first">Welcome, <%= current_user.given_name %></h4>
  <p>
    This tool will allow you to transfer your department or program’s theses to the MIT Libraries. You may transfer
    theses throughout the semester. All theses must be submitted within 30 days after graduation.
  </p>

  <h4 class="hd-5">Before you transfer</h4>
  <ul>
    <li>Confirm that each thesis meets the <a href="https://libraries.mit.edu/distinctive-collections/thesis-specs/">
      required specifications</a> prior to transferring to the Libraries - pay specific attention to the information on
      the title page.</li>
    <li>Transfer theses as PDF files using the required filename format -
      [last/surname-kerberos-degree-dept-year-file.pdf]. See the
      <a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30716057">Thesis FAQ for specific
      filename examples.</a></li>
  </ul>

  <h4 class="hd-5">Tips for smooth uploading and transfer</h4>
  <ul>
    <li>Organize the files into a single folder on your computer for ease of bulk uploading and transfer. We can no
      longer accept zip files.</li>
    <li>Select all the files to upload in one go -- if you try to go back and add more, the tool currently overwrites
      what you previously uploaded. To select multiple files at once, you can press and hold the CTRL button (or the
      Command button if you are using a Mac) while clicking the individual files. If you want to select all of the files
      within a folder, you can press and hold the CTRL button and the A button (or Command button and A button if you
      are using a Mac).
      <ul>
        <li>If a file was uploaded by accident, simply start over. Currently, the tool doesn’t allow you to remove a
          single file.</li>
      </ul>
    </li>
    <li><strong>Do not close your browser window</strong> while the transfer is in progress.
      <ul>
        <li>The time it takes to transfer the files is dependent on your internet speed. If you’re working from home,
          you likely have slower internet than on campus. A progress indicator will be displayed during the transfer
          process.</li>
        <li>A “success” page will present when the transfer is complete and you’ll receive a confirmation email with the
          files you transferred.</li>
      </ul>
    </li>
  </ul>

  <p class="last">Please let us know if you or your students have any feedback or questions about this process by
    emailing us at <a href="mailto:mit-theses@mit.edu?Subject=Transfer%20submission%20help" target="_blank">
    mit-theses@mit.edu</a>.</p>
</div>

<style type="text/css">
  .well h4.hd-5.first {
    margin-top: 0;
  }
  .well h4.hd-5 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .well p,
  .well li,
  .well ul {
    margin-bottom: 5px;
  }
  .well p.last {
    margin-top: 15px;
    margin-bottom: 0;
  }
</style>
