<div class="well">
  <p>
    <strong>Welcome, <%= current_user.given_name %></strong><br> This tool
    will allow you to transfer your department or program’s theses to the 
    MIT Libraries.
  </p>

  <h4 class="hd-5">Before you transfer</h4>
  <ul>
    <li>Confirm that each thesis meets the required specifications prior to
    transferring to the Libraries - pay specific attention to the information
    on the title page.</li>
    <li>Transfer theses as PDF files using the required filename format -
    [last/surname-kerberos-degree-dept-year-file.pdf]. See the <a href="https://libguides.mit.edu/c.php?g=176367&p=8229377">Thesis FAQ for
    specific filename examples.</a></li>
  </ul>

  <h4 class="hd-5">Tips for smooth uploading and transfer</h4>
  <p>Improved file management functionality will be added this summer, but for the June 2021 degree period, we have some tips.</p>
  <ul>
    <li>Organize the files into a single folder on your computer for ease of bulk uploading and transfer. We can no longer accept zip files.</li>
    <li>Select all the files to upload at once -- if you try to add more, the tool currently overwrites what you previously uploaded.
      <ul>
        <li>If a file was uploaded by accident, simply start over. Currently, the tool doesn’t allow you to remove a single file.</li>
      </ul>
    </li>
    <li>Do not close your browser window while the transfer is in progress.
      <ul>
        <li>The transfer process can take some time, depending on your internet speed. While people are working at home (with slower internet speeds than on campus) this is something to definitely be aware of.</li>
        <li>A “success” page will present when the transfer is complete and you’ll receive a confirmation email with the files you transferred.</li>
      </ul>
    </li>
    <li>You may transfer theses throughout the semester (one thesis per author) and must be submitted by 30 days after graduation.</li>
  </ul>

  <p>We expect to learn a lot during the June 2021 degree period. Please let us know if you or your students have any feedback or questions about this process by emailing us at <a href="mailto:mit-theses@mit.edu?Subject=Transfer%20submission%20help" target="_blank">mit-theses@mit.edu</a>.</p>
</div>
