<h4>A couple reminders:</h4>
<ul>
  <li>We will not begin processing theses until after graduation.</li>
  <li>Theses will be published in <a href="https://dspace.mit.edu/handle/1721.1/7582">DSpace@MIT</a>, it may take 3 months for theses to appear in the collection.</li>
</ul>

<p>Please contact us at <a href="mailto:mit-theses <mit-theses@mit.edu>" target="_blank">mit-theses@mit.edu</a> with any questions.</p>
