<%= content_for(:title, "Transfer Processing | MIT Libraries") %>

<% content_for :additional_js do %>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<% end %>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

<h3 class="title title-page">Transfer Processing Queue</h3>

<div id="term-list" class="filter-row">
  <button class="btn button-primary" data-filter="*">Show<br>all</button>
</div>

<table class="table" id="transferQueue">
  <thead>
    <tr>
      <th scope="col">Transfer date</th>
      <th scope="col">Degree date</th>
      <th scope="col">Department</th>
      <th scope="col">Dept. Admin</th>
      <th scope="col">Files</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'transfer/transfer', collection: @transfers) || render('empty') %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready( function () {
  if( document.getElementById('transferQueue').getElementsByClassName('empty').length === 0 ) {
    // Initialize DataTable, sorting by default on the degree column (columns are zero-based)
    var table = $('#transferQueue').DataTable({
      "order": [[ 1, "asc" ]]
    });

    var _degreeDate = "*";

    // Add filter for "Degree date" column to standard table behavior
    // From: https://datatables.net/blog/2014-08-26#Complete-code
    $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
        return ( data[1] === _degreeDate || _degreeDate === "*" )
          ? true
          : false
      }
    );

    // Populate filter buttons with found values
    var terms = [...new Set( table.columns(1).data()[0] )];
    terms.forEach(element => {
      document
        .getElementById("term-list")
        .insertAdjacentHTML("beforeend", `
        <button class="btn button-secondary" data-filter="${element}">${element.replace(' ', '<br>')}</button>
      `);
    });

    // Change highlighting and perform filtering when buttons are clicked
    $("#term-list button").click(function() {
      $("#term-list").find(".button-primary").removeClass("button-primary").addClass("button-secondary");
      $(this).removeClass("button-secondary").addClass("button-primary");

      _degreeDate = $(this).data("filter");
      table.draw();
    });
  }
});
</script>