<%= content_for(:title, "Transfer Processing | MIT Libraries") %>

<h3 class="title title-page">Transfer file list</h3>

<p><%= link_to "Back to Transfer queue", transfer_select_path %></p>

<p>This will be the display of all files in this Transfer, for processing into Thesis records.</p>